{% extends 'cabinet/main.html.twig' %}

{% block title %}My habits{% endblock %}

{% block content %}
    <div class="mx-5 mt-5">
        <div class="d-flex justify-content-between mb-4">
            <h3>Habits</h3>
            <div>
                <a class="btn btn-primary" href="{{ path('cabinet.habit.create') }}">Create new habit</a>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th class="ps-0">Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Weekdays</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for habit in habits %}
                <tr>
                    <td class="ps-0">
                        {{ habit.title }}
                    </td>
                    <td>
                        {{ habit.description }}
                    </td>
                    <td>
                        {{ habit.category.title }}
                    </td>
                    <td>
                        {% for weekday in habit.weekdays %}
                            <span class="badge bg-primary">{{ weekday.value }}</span>
                        {% endfor %}
                    </td>
                    <td class="pe-0" style="width: 1%">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop{{ habit.id }}" type="button" class="btn btn-sm dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false"></button>
                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop{{ habit.id }}">
                                    <li>
                                        <a class="dropdown-item"
                                           href="{{ path('cabinet.habit.edit', { id: habit.id }) }}">Edit</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div>


    </div>

{% endblock %}
