{% extends 'cabinet/base.html.twig' %}

{% block body %}
    <div>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-4 mt-5 card p-4">
                    {% include 'cabinet/_flash_messages.html.twig' %}
                    <h4 class="text-center">Change password</h4>
                    <div class="">
                        {{ form_start(form) }}
                        {{ form_row(form.password) }}
                        {{ form_row(form.repeatPassword) }}
                        {{ form_row(form.submit, { 'attr' : { 'class' : 'btn btn-primary btn-block' } }) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}