{% extends 'cabinet/base.html.twig' %}

{% block top %}
    <h1 class="mt-0 mb-3 text-center">Reset your password</h1>
{% endblock %}

{% block body %}
    <div>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-4 mt-5 card p-4">
                    {% include 'cabinet/_flash_messages.html.twig' %}
                    {{ form_start(form) }}
                    <div class="form-group mb-3">
                        <div class="mb-2">
                            {{ form_label(form.email) }}
                        </div>
                        {{ form_widget(form.email) }}
                    </div>
                    {{ form_widget(form.submit, { 'attr' : { 'class' : 'btn btn-primary btn-block btn-lg' } }) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}